.Container-Center {
    width: 600px;
    height: auto;
    max-width: 100%;
    box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
    padding: 5px 5px;

    border-radius: 8px;
    background-color: white;
}

.Delivery-Or-Withdrawal {
    width: 100%;
    height: 100%;


}

.Delivery-Or-Withdrawal-Btns {
    width: 100%;
    height: 100%;
    text-align: center;
}

.Delivery-Or-Withdrawal-Btns>div>button {
    width: 80%;
    height: 0;
    margin: 15% 0;
    padding-bottom: 70%;
    box-shadow: inset 0px 0px 10px 5px rgba(0, 0, 0, 0.086);
}

.Delivery-Btn button {
    background: black url("../../../imagens/delivery.PNG") no-repeat center center;
    background-size: cover;
}

.Withdrawal-Btn button {
    background: black url("../../../imagens/retirada.png") no-repeat center center;
    background-size: cover;

}

/* estilo das coisas referentes a localização */
.Location-Form {
    width: 100%;
    margin: auto;
}

.Location-Form>div>input {
    width: 100%;
}

.Location-Form>div>label {
    width: 100%;
    margin-top: 10px;
}

.Proceed-Btn {
    width: 100%;
    text-align: right;
}

/* Coisas referentes a parte de pagamento */

.Container-Card-Or-Money {
    width: 100%;

}

.Container-Money-Change {
    width: auto;
    border-radius: 10px;
    margin-right: 12px;
    float: right;

}

.Container-Money-Change>input {
    width: 140px;

}

/* Coissas da opção de cartão */
.Container-Card {
    width: 100%;
    height: 100%;
    border-right: 1px solid rgb(133, 132, 132);
    border-radius: 10px;
    
}

.Exit-btn {
    width: 100%;
    direction: rtl;

}


.Card-Buttons {
    text-align: end;

}

.Card-Container {
    border: 1px solid rgba(0, 0, 0, 0.081);
    border-radius: 10px;
    padding: 10px;
}

.Card-Front {
    position: relative;
    width: 90%;
    max-width: 300px;
    height: 23vh;
    border: 1px solid black;
    margin: auto;
    border-radius: 10px;
    
    padding: 8px;

}

.Card-Chip {
    position: absolute;
    width: 20%;
    max-width: 40px;
    height: auto;

}

.Card-Name {
    position: absolute;
    margin-top: 15px;
    top: 50%;
    left: 10%;
    color: rgba(255, 255, 255, 0.959);
    transform: translate(0%, -50%);
}

.Card-Bank {
    width: 20%;
    max-width: 45px;
    height: auto;
    margin: 5px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.Card-Flag {
    position: absolute;
    width: 30%;
    max-width: 70px;
    height: auto;
    right: 10px;

}

.Create-Card {
    width: 600px;
    height: auto;
    max-width: 100%;
    box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
    padding: 15px;
    border-radius: 8px;
    background-color: white;
}

.Small-Inputs-Card>input {
    width: 70px;

}

.Color-Card-Input > input{
    width: 100%;
    max-width: 100px;
    height: 10vh;
}

.Back-Card {
    position: relative;
    width: 90%;
    max-width: 300px;
    height: 23vh;
    border: 1px solid black;
    margin: auto;
    border-radius: 10px;
    
    

}
.Black-Line {
    width: 100%;
    height:6vh;
    background-color: rgb(12, 12, 12);
    border-radius: 10px 10px 0px 0px;
}
.Back-Card > p{
    color: rgb(240, 240, 240);
}
.Back-Card > div > p{
    color: rgb(240, 240, 240);
    font-size: 16px;
}
.Data{
    color: white;
    font-size: 12px;
}
.Data-Titles{
    font-size: 7px;
    color: white;
    
}
.Data-Inverse{
    position: absolute;
    right: 10px;
    bottom:10px;
}

/* Wallet */
.Container-Wallet{
    width: 100%;
    max-width: 250px;
    height: 50px;
    margin: auto;
    box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
    padding: 5px 5px;

    border-radius: 8px;
    
}
.Card-Slots{
    width: 100%;
    height: 100%;

}
.Card-Slot{
    position: relative;
    width: 100%;
    
    border: 1px solid black;
    border-radius: 10px;
    margin: 2px;
    background: transparent url("../../../imagens/card.png") no-repeat center center;
    background-size: contain;
    
}
.Card-Slot img{
    width: 100%;
    
}
.Card-Slot > p{
    position: absolute;
    top: -6px;
    left: 1px;
    font-size: 20px;
    color: #727272;
    
}
.Checkout{
    width: 100%;
    direction: rtl;
}
.Checkout > button {
    background-color: #9ed2e8;
    
}