@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap');

@font-face {
  font-family: 'FonteCaipirinha';
  src: url('./fontes/relation-two-bold.otf');
}

*{
  margin: 0;
  padding: 0;
}

.App {
  background-color: white;

}


.Container-Home {
  background-color: rgb(255, 255, 255);
  padding: 20px;
  
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.137);
}

.Login-form-container {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  top: -5%;
  width: 100vw;
  height: 100vh;
}

.Login-form {
  width: 430px;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 8px;
  background-color: white;
}

.Login-form-content {
  padding: 0px 12%;
}

.Login-form-title {
  text-align: center;
  margin-bottom: 1em;
  font-size: 24px;
  color: rgb(34, 34, 34);
  font-weight: 800;
}

label {
  font-size: 14px;
  font-weight: 600;
  color: rgb(34, 34, 34);
}

/*Tudo sobre o CeoView*/
.Loading-Screen{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #201e1e;
}

.Glass{
  width: 96px;
  height: 216px;
  display: inline-block;
  position: relative;
  border: 1px solid #fff;
  animation: fill 3s infinite ease-in-out;
  color: #fdfdfd;
  border-radius: 0 0 4px 4px;
  transform: perspective(450px) rotateX(-45deg);
}
@keyframes fill {
  0%{
    box-shadow: 0 -225px inset;
  }
  100%{
    box-shadow: 0 0px inset;
  }
}


header {
  width: 100%;
  height: 60px;
  background-color: #201e1e;
}

.Container-body-ceo {
  width: 100%;
  height: 100%;
  
}

.Container-body-ceo > h1 {
  color: #ffffff;
  padding: 5px;
  text-align: center;
  font-family: 'FonteCaipirinha', sans-serif;
  font-size: 7vw;
}

.Button-Create-Itens {
  width: 60px;
  height: auto;
  background-color: transparent;
  border: none;
  color: white;
  font-size: 40px;
}

.Img-Logo {
  position: absolute;
  height: 60px;
  border: 1px solid #241c1c;
  

  
}

.Img-Logo img {
  width: 110px;
  height: 59px;
  border: 1px solid #241c1c;
}

.Container-CreateItens {
  position: absolute;
  width: 82%;
  max-height: 100%;
  left: 50%;
  background-color: #2c2828;
  border: 3px rgb(81, 81, 81) solid;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.403);

  z-index: 5;
  transform: translate(-50%);
}

.Container-Img-Product-Create{
  position: relative;
  width: 35%;
  float: right;
  margin: 5px -7px;
}

input[type="file"]{
  display: none;
}

.Label-Img-product-Create{
  font-family: Arial, Helvetica, sans-serif;
  display: block;
  width: 100%;
  padding: 10px 0px;
  margin: 0px auto;
  background-color: #333;
  color: #fff;
  text-align: center;
  
}

.Img-Product-Create img{ 
  width: 100%;
  margin: auto;
  border: 2px solid rgb(0, 255, 157);
 
}

.form-label{
  color: rgb(196, 194, 194);
}

.Ornament-Menu {
  position: relative;
  width: 70%;
  max-height: 100%;
  margin: auto;
  background: black url("imagens/fundo-folha-amarela.jpg") no-repeat center center;
  background-size: cover;
  border: 6px solid #241c1c;
  border-radius: 25px 25px 10px 10px;
  box-shadow: inset 1px 1px 10px 1px rgba(0, 0, 0, 0.385);
  z-index: 1;
}
.Item-Not-Found{
  color: #00000058;
  text-align: center;
  font-size: 12vw;
}
.Item-Not-Found > div > h1{
  font-size: 3.5vw;
  font-weight: normal;
  font-family: Arial, Helvetica, sans-serif;
}

.Items-Estoque{
  display: flex;
  width: 100%;
  height: 100%;
  margin: 20px 0px 0px 0px;
  align-items: center;
  text-align: center;
  
}
.Items-Estoque img{
  width: 15vw;
}

.Items{

  border: 1px solid #729c47 ;
  padding: 10px 0px 0px 0px;
  border-radius: 20px;
 

}

.Container-CaracteristicasItens{
  position: relative;
  margin: 0px auto 2px auto;
  width: 100%;
  
  
}
.Name-Product{
  margin: auto;
  font-size: 2.5vw;
}
.Description-Product{
  margin: auto;
  font-size: 2vw;
  text-align: center;
}
.Price-Product{
  margin: auto;
  font-size: 2.3vw;
}
li{
  position: relative;
  list-style: none;
  height: 100%;
}

.Container-btn-Edit-Delete{
  position: fixed;
  background-color: #241c1c;
  left: -46px;
  padding: 8px 16px 8px 8px;
  border-radius: 10px;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.248);
  transition: left 1s;
}
.Container-btn-Edit-Delete:hover{
  left: 10px;
}
.Arrow-EditAndExclude{
  position: absolute;
  color: white;

  left: 72%;
  top: 38%;
  
}

/*aqui esta o ccs da parte do Client View*/
.Container-body-Client{
  height: 100vh;
  
  width: 100%;
}
.Container-Shopping-Cart{
  height: 80%;
  background-color: #2c2828;
  border: 3px rgb(81, 81, 81) solid;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.511)
}
.Items-Cart{
  width: 90%;
  border: 1px solid rgb(81, 81, 81);
  border-radius: 10px;
  color: rgb(192, 192, 192);
  margin-top: 10px;
}
.Container-Items-And-Opcoes{
  height: 85%;

}
.Container-Item{
  
}
.Container-Opcoes-Item{
  background-color: #ffffff;
}

.Glass-Item{
  position: relative;
  width: 110px;
  min-width: 20%;
  height: 220px;
  min-height: 50%;
  margin: auto;
  top: 25%;
  border: 1px solid #fff;
  color: #fdfdfd;
  background-color: rgba(61, 114, 140, 0.273);
  border-radius: 0 0 4px 4px;
  transform: perspective(450px) rotateX(-45deg);
}



  




