@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap');

.App {
  background-color: white;

}


.Container-Home {
  background-color: rgb(255, 255, 255);
  padding: 20px;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.137);
}

.Login-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.Login-form {
  width: 420px;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  border-radius: 8px;
  background-color: white;
}

.Login-form-content {
  padding-left: 12%;
  padding-right: 12%;
}

.Login-form-title {
  text-align: center;
  margin-bottom: 1em;
  font-size: 24px;
  color: rgb(34, 34, 34);
  font-weight: 800;
}

label {
  font-size: 14px;
  font-weight: 600;
  color: rgb(34, 34, 34);
}

header {
  width: 100%;
  height: 60px;
  background-color: #201e1e;
}

.Body-Ceo {
  background-color: #65A605;
  height: 100vh;
}

.Body-Ceo>h1 {
  color: #ffffff;
  padding: 10px;
  text-align: center;
  font-family: 'Delicious Handrawn', cursive;
  font-size: 48px;
}

.Button-Create-Itens {
  position: relative;
  width: 60px;
  height: 100%;
  background-color: transparent;
  right: 13px;
  top: -3px;
  border: none;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 40px;
}

.Button-Create-Itens:hover {
  background-color: #232323;
}

.Img-Logo {
  width: 150px;
  height: 60px;
  border: 1px solid #241c1c;
}

.Img-Logo img {
  width: 110px;
  height: 59px;
  border: 1px solid #241c1c;
}

.Ornament-Menu {
  position: relative;
  width: 75%;
  height: 35px;
  left: 50%;
  top: 20px;
  border-top: 8px solid #241c1c;
  border-left: 8px solid #241c1c;
  border-right: 8px solid #241c1c;
  border-radius: 100px 100px 0px 0px;

  transform: translate(-50%);
  z-index: 1;
}

.Container-CreateItens {
  position: absolute;
  width: 82%;
  height: 65%;
  left: 50%;
  background-color: #2c2828;
  border: 3px rgb(81, 81, 81) solid;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.403);

  z-index: 5;
  transform: translate(-50%);
}



.Img-Product{
  width: 35%;
  max-width: 300px;
  position: absolute;
  top: 55px;
  right: 10px;
}